
/* faq */
#faqs h4, #gallery h4, #contact h4 {margin-top: -40px;}
#faqs p {padding-left: 50px; }
#faqs h5 { padding-left: 50px; line-height: 40px; }

#faqs h5.plus {
	background: url(../images/plus.png) no-repeat left center;
}
#faqs h5.minus {
	background: url(../images/minus.png) no-repeat left center;
    background-size: 30px 30px;
}
