/* image gallery */
#imagelist li {
    padding-right: 10px;
    display: inline;
}

/*videos*/
.video-wrapper {
    display: flex;
    padding-bottom: 20px;
    padding-top: 10px;
}

.video-container {
    width: 48%;
    margin-left: 10px;
    margin-right: 10px;
}

